/Users/jzozaya/Documents/development/git collect/preloader-canvas-master/mScript.js
/Users/jzozaya/Documents/development/git collect/preloader-canvas-master/preloadjs-0.1.0.min.js
/Users/jzozaya/Documents/development/git collect/preloader-canvas-master/tutorial.html